$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white:  rgb(234, 234, 234);
$black:  rgb(36, 36, 36);
$orange: orange;

$dark-background: #222f3e;

$weeks-colors:  #378af0, #48dbfb, #1dd1a1, #5f27cd;
$booked-color:  #378af0;
$danger-color:  #ee5253;
$error-color:   #ff9f43;
$confirm-color: #10ac84;


$spacing: 2rem;

