
.zmodal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  //transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  pointer-events: none;
}

.zmodal.showzmodal {
  opacity: 1;
  pointer-events: visible;
}

.zmodalbutton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  border: 2px solid;
  border-color: black;
  background-color: orange;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.zmodalbutton:hover {
  background-color: rgb(69, 68, 68);
  color:orange;
  cursor: pointer;
}
.zmodalclose {
  color:rgb(50, 49, 49);
  font-size:2rem;
  cursor: pointer;
}
.zmodalclose:hover {
  color:red !important;
}

// this is the entire content of the visible modal container
.zmodal-content {
  //box-shadow: -5px -5px 20px 2px rgb(208, 86, 16), 5px 5px 20px 2px rgb(208, 86, 16);
  box-shadow: 0 0 30px 15px rgba(69, 68, 68, 0.723);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 500px;
  border-radius: 0rem 2rem 0rem 2rem;
}

#dark .zmodal-content {
  background-color:rgb(165, 163, 163);
  box-shadow: 0 0 30px 15px rgba(85, 84, 84, 0.723);
}

.zmodal-header, .zmodal-footer {
  padding: 10px;
}

.zmodal-title {
  margin: 0;
}

// content of the modal iteself
.zmodal-body {
  padding: 10px;
  font-size: 1.2rem;
  
}

.fashadow {
  text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black;
}



//
// specific CSS for various  modal dialogs
// 

.underLink {
  cursor:pointer;
  width: max-content;
  position: relative;
  margin: 100px auto;
}
.underLink::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  left: 0;
  background-color: orange;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
.underLink:hover::after {
  transform: scaleX(1);
}

// ABOUT window
.glitchyshadow {
  color: rgb(45, 45, 45);
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: red -2px 0, cyan 2px 0;
}

// COOKIES animation
@media (prefers-reduced-motion: no-preference) {
  .cookieimage {
    animation: cookie-spin infinite 20s linear;
  }
}
@keyframes cookie-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}