// 
// ThemeSwitch.scss -- SCSS for the slider switch toggle for our light dark mode

// TODO these needs cleaned up and made more efficient for what is needed vs not needed

    .toggle-btn-section {
      margin: auto 0 auto auto;
      .toggle-checkbox {
        justify-content: center;
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        .toggle-btn__input {
          height: 0;
          width: 0;
          visibility: hidden;
        }

        .toggle-btn__input-label {
          cursor: pointer;
          text-indent: -9999px;
          width: 46px;
          height: 25px; //  slide height
          display: block;
          border-radius: 23px;
          position: relative;
          border: none;
          margin-top: 2px;
          transition: 0.3s;


          &::after {
            content: '?';
            position: absolute;
            top: 1.5px;
            left: 3px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            transition: 0.3s;
            box-shadow: 0 5px 10px rgba(153, 153, 153, 0.4);
            background-color: rgb(221, 122, 15);
          }
        }

        .toggle-btn__input:checked ~ .toggle-btn__input-label {
          &:after {
            background: rgb(249, 249, 249);
            left: calc(100% - 3px);
            transform: translateX(-100%);
            transition: 0.3s;
          }
        }

        .toggle-btn__input:checked ~ .toggle-btn__theme {
          &:after {
            // theme switch circle background in light theme
            background: #fff;
            left: calc(100% - 3px);
            transform: translateX(-100%);
            transition: 0.3s;
          }
        }
      }

      .toggle-btn__input:checked ~ .toggle-btn__input-label {
        background-color: orange;
      }
    }
  