@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import "styles/variables.scss";
@import "styles/reset.scss";

@import "styles/typography.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  overflow-y: scroll; 
}

.layout {
  display: flex;
  min-height: 100vh;
  background-color: $white;
}

.socicons-container {
  padding-top: 20px;
}

.socicons {
  color:darken($white, 10%);
  padding-top: 20px;
  text-shadow: 0 0 10px darken($dark-background,15%), 0 0 20px darken($dark-background,15%), 0 0 30px darken($dark-background,15%);
}
.socicons:hover {
  color: $orange;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
